@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}

.hide-scrollbar::--webkit-scrollbar {
  display: none;
}

.animation {
  transform: translateY(-10rem) scale(0);
  opacity: 0;
  transition: all 0.8s ease-out;
}
.animate {
  transform: translateY(0) scale(1);
  opacity: 1;
}
.headingAnimation {
  transform: translateY(-10rem) scale(0) rotate(-2deg);
  opacity: 0;
  transition: all 0.8s ease-out;
}
.headingAnimate {
  transform: translateY(0) scale(1) rotate(-2deg);
  opacity: 1;
}
